{% extends "../_layout/base.twig" %}

{% block page %}
	<img src="/images/gulp-logo/gulp-logo.svg" alt="Gulp logo"/>
	<header>
		<h1>{{ pageContent.news.headline }}</h1>
	</header>
	<p>
		{{ pageContent.news.content }}
	</p>
{% endblock %}
