{% extends "layout/_base.twig" %}

{% from "./_macros.twig" import svg %}

{% block content %}
  <header data-js-twitter>
    by <a href="https://twitter.com/boriskaiser">@boriskaiser</a>
  </header>

  <article>
    <div data-js-logo>
      {{ svg("logo") }}
    </div>
    <p data-js-title>
      {{ subtitle }}
    </p>

    <a href="https://github.com/gulpaticjs/gulpatic" data-js-github-logo>
      {{ svg("github-logo") }}
    </a>
  </article>
{% endblock %}
