{% extends "_layout/base.twig" %}

{% block page %}
	<img src="images/gulp-logo/gulp-logo.svg" alt="Gulp logo"/>
	<header>
		<h1>{{ pageContent.homepage.headline }}</h1>
	</header>
	<p>
		{{ pageContent.homepage.content }}
	</p>
	<a href="/news">News</a>
{% endblock %}
