/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sprite-github-name: 'sprite-github';
$sprite-github-x: 0px;
$sprite-github-y: 0px;
$sprite-github-offset-x: 0px;
$sprite-github-offset-y: 0px;
$sprite-github-width: 34px;
$sprite-github-height: 34px;
$sprite-github-total-width: 123px;
$sprite-github-total-height: 117px;
$sprite-github-image: '../images/css-sprite.png';
$sprite-github: (0px, 0px, 0px, 0px, 34px, 34px, 123px, 117px, '../images/css-sprite.png', 'sprite-github', );
$sprite-github-name: 'sprite-github';
$sprite-github-x: 44px;
$sprite-github-y: 0px;
$sprite-github-offset-x: -44px;
$sprite-github-offset-y: 0px;
$sprite-github-width: 34px;
$sprite-github-height: 34px;
$sprite-github-total-width: 123px;
$sprite-github-total-height: 117px;
$sprite-github-image: '../images/css-sprite.png';
$sprite-github: (44px, 0px, -44px, 0px, 34px, 34px, 123px, 117px, '../images/css-sprite.png', 'sprite-github', );
$sprite-stackoverflow-name: 'sprite-stackoverflow';
$sprite-stackoverflow-x: 0px;
$sprite-stackoverflow-y: 82px;
$sprite-stackoverflow-offset-x: 0px;
$sprite-stackoverflow-offset-y: -82px;
$sprite-stackoverflow-width: 27px;
$sprite-stackoverflow-height: 35px;
$sprite-stackoverflow-total-width: 123px;
$sprite-stackoverflow-total-height: 117px;
$sprite-stackoverflow-image: '../images/css-sprite.png';
$sprite-stackoverflow: (0px, 82px, 0px, -82px, 27px, 35px, 123px, 117px, '../images/css-sprite.png', 'sprite-stackoverflow', );
$sprite-stackoverflow-name: 'sprite-stackoverflow';
$sprite-stackoverflow-x: 37px;
$sprite-stackoverflow-y: 82px;
$sprite-stackoverflow-offset-x: -37px;
$sprite-stackoverflow-offset-y: -82px;
$sprite-stackoverflow-width: 27px;
$sprite-stackoverflow-height: 35px;
$sprite-stackoverflow-total-width: 123px;
$sprite-stackoverflow-total-height: 117px;
$sprite-stackoverflow-image: '../images/css-sprite.png';
$sprite-stackoverflow: (37px, 82px, -37px, -82px, 27px, 35px, 123px, 117px, '../images/css-sprite.png', 'sprite-stackoverflow', );
$sprite-twitter-name: 'sprite-twitter';
$sprite-twitter-x: 0px;
$sprite-twitter-y: 44px;
$sprite-twitter-offset-x: 0px;
$sprite-twitter-offset-y: -44px;
$sprite-twitter-width: 35px;
$sprite-twitter-height: 28px;
$sprite-twitter-total-width: 123px;
$sprite-twitter-total-height: 117px;
$sprite-twitter-image: '../images/css-sprite.png';
$sprite-twitter: (0px, 44px, 0px, -44px, 35px, 28px, 123px, 117px, '../images/css-sprite.png', 'sprite-twitter', );
$sprite-twitter-name: 'sprite-twitter';
$sprite-twitter-x: 88px;
$sprite-twitter-y: 0px;
$sprite-twitter-offset-x: -88px;
$sprite-twitter-offset-y: 0px;
$sprite-twitter-width: 35px;
$sprite-twitter-height: 28px;
$sprite-twitter-total-width: 123px;
$sprite-twitter-total-height: 117px;
$sprite-twitter-image: '../images/css-sprite.png';
$sprite-twitter: (88px, 0px, -88px, 0px, 35px, 28px, 123px, 117px, '../images/css-sprite.png', 'sprite-twitter', );
$sprite-github-2x-name: 'sprite-github-2x';
$sprite-github-2x-x: 0px;
$sprite-github-2x-y: 0px;
$sprite-github-2x-offset-x: 0px;
$sprite-github-2x-offset-y: 0px;
$sprite-github-2x-width: 68px;
$sprite-github-2x-height: 68px;
$sprite-github-2x-total-width: 246px;
$sprite-github-2x-total-height: 234px;
$sprite-github-2x-image: '../images/css-sprite-2x.png';
$sprite-github-2x: (0px, 0px, 0px, 0px, 68px, 68px, 246px, 234px, '../images/css-sprite-2x.png', 'sprite-github-2x', );
$sprite-github-2x-name: 'sprite-github-2x';
$sprite-github-2x-x: 88px;
$sprite-github-2x-y: 0px;
$sprite-github-2x-offset-x: -88px;
$sprite-github-2x-offset-y: 0px;
$sprite-github-2x-width: 68px;
$sprite-github-2x-height: 68px;
$sprite-github-2x-total-width: 246px;
$sprite-github-2x-total-height: 234px;
$sprite-github-2x-image: '../images/css-sprite-2x.png';
$sprite-github-2x: (88px, 0px, -88px, 0px, 68px, 68px, 246px, 234px, '../images/css-sprite-2x.png', 'sprite-github-2x', );
$sprite-stackoverflow-2x-name: 'sprite-stackoverflow-2x';
$sprite-stackoverflow-2x-x: 0px;
$sprite-stackoverflow-2x-y: 164px;
$sprite-stackoverflow-2x-offset-x: 0px;
$sprite-stackoverflow-2x-offset-y: -164px;
$sprite-stackoverflow-2x-width: 54px;
$sprite-stackoverflow-2x-height: 70px;
$sprite-stackoverflow-2x-total-width: 246px;
$sprite-stackoverflow-2x-total-height: 234px;
$sprite-stackoverflow-2x-image: '../images/css-sprite-2x.png';
$sprite-stackoverflow-2x: (0px, 164px, 0px, -164px, 54px, 70px, 246px, 234px, '../images/css-sprite-2x.png', 'sprite-stackoverflow-2x', );
$sprite-stackoverflow-2x-name: 'sprite-stackoverflow-2x';
$sprite-stackoverflow-2x-x: 74px;
$sprite-stackoverflow-2x-y: 164px;
$sprite-stackoverflow-2x-offset-x: -74px;
$sprite-stackoverflow-2x-offset-y: -164px;
$sprite-stackoverflow-2x-width: 54px;
$sprite-stackoverflow-2x-height: 70px;
$sprite-stackoverflow-2x-total-width: 246px;
$sprite-stackoverflow-2x-total-height: 234px;
$sprite-stackoverflow-2x-image: '../images/css-sprite-2x.png';
$sprite-stackoverflow-2x: (74px, 164px, -74px, -164px, 54px, 70px, 246px, 234px, '../images/css-sprite-2x.png', 'sprite-stackoverflow-2x', );
$sprite-twitter-2x-name: 'sprite-twitter-2x';
$sprite-twitter-2x-x: 0px;
$sprite-twitter-2x-y: 88px;
$sprite-twitter-2x-offset-x: 0px;
$sprite-twitter-2x-offset-y: -88px;
$sprite-twitter-2x-width: 70px;
$sprite-twitter-2x-height: 56px;
$sprite-twitter-2x-total-width: 246px;
$sprite-twitter-2x-total-height: 234px;
$sprite-twitter-2x-image: '../images/css-sprite-2x.png';
$sprite-twitter-2x: (0px, 88px, 0px, -88px, 70px, 56px, 246px, 234px, '../images/css-sprite-2x.png', 'sprite-twitter-2x', );
$sprite-twitter-2x-name: 'sprite-twitter-2x';
$sprite-twitter-2x-x: 176px;
$sprite-twitter-2x-y: 0px;
$sprite-twitter-2x-offset-x: -176px;
$sprite-twitter-2x-offset-y: 0px;
$sprite-twitter-2x-width: 70px;
$sprite-twitter-2x-height: 56px;
$sprite-twitter-2x-total-width: 246px;
$sprite-twitter-2x-total-height: 234px;
$sprite-twitter-2x-image: '../images/css-sprite-2x.png';
$sprite-twitter-2x: (176px, 0px, -176px, 0px, 70px, 56px, 246px, 234px, '../images/css-sprite-2x.png', 'sprite-twitter-2x', );
$spritesheet-width: 123px;
$spritesheet-height: 117px;
$spritesheet-image: '../images/css-sprite.png';
$spritesheet-sprites: ($sprite-github, $sprite-github, $sprite-stackoverflow, $sprite-stackoverflow, $sprite-twitter, $sprite-twitter, );
$spritesheet: (123px, 117px, '../images/css-sprite.png', $spritesheet-sprites, );
$retina-spritesheet-width: 246px;
$retina-spritesheet-height: 234px;
$retina-spritesheet-image: '../images/css-sprite-2x.png';
$retina-spritesheet-sprites: ($sprite-github-2x, $sprite-github-2x, $sprite-stackoverflow-2x, $sprite-stackoverflow-2x, $sprite-twitter-2x, $sprite-twitter-2x, );
$retina-spritesheet: (246px, 234px, '../images/css-sprite-2x.png', $retina-spritesheet-sprites, );

/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
*/
$sprite-github-group-name: 'sprite-github';
$sprite-github-group: ('sprite-github', $sprite-github, $sprite-github-2x, );
$sprite-github-group-name: 'sprite-github';
$sprite-github-group: ('sprite-github', $sprite-github, $sprite-github-2x, );
$sprite-stackoverflow-group-name: 'sprite-stackoverflow';
$sprite-stackoverflow-group: ('sprite-stackoverflow', $sprite-stackoverflow, $sprite-stackoverflow-2x, );
$sprite-stackoverflow-group-name: 'sprite-stackoverflow';
$sprite-stackoverflow-group: ('sprite-stackoverflow', $sprite-stackoverflow, $sprite-stackoverflow-2x, );
$sprite-twitter-group-name: 'sprite-twitter';
$sprite-twitter-group: ('sprite-twitter', $sprite-twitter, $sprite-twitter-2x, );
$sprite-twitter-group-name: 'sprite-twitter';
$sprite-twitter-group: ('sprite-twitter', $sprite-twitter, $sprite-twitter-2x, );
$retina-groups: ($sprite-github-group, $sprite-github-group, $sprite-stackoverflow-group, $sprite-stackoverflow-group, $sprite-twitter-group, $sprite-twitter-group, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

$icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );

.icon-home {
  @include retina-sprite($icon-home-group);
}
*/
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

/*
The `retina-sprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in SCSS

@include retina-sprites($retina-groups);
*/
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
