%svg-common {
	background: url(../images/svg-sprite.svg) no-repeat;
}

.svg--github,
.svg--github\:regular {
	@extend %svg-common;
	background-position: 0 0;
	width: 34px;
	height: 34px;
}

.svg--github:hover,
.svg--github\:hover {
	@extend %svg-common;
	background-position: 21.518987341772153% 0;
	width: 34px;
	height: 34px;
}

.svg--stackoverflow,
.svg--stackoverflow\:regular {
	@extend %svg-common;
	background-position: 41.21212121212121% 0;
	width: 27px;
	height: 35px;
}

.svg--stackoverflow:hover,
.svg--stackoverflow\:hover {
	@extend %svg-common;
	background-position: 57.57575757575758% 0;
	width: 27px;
	height: 35px;
}

.svg--twitter,
.svg--twitter\:regular {
	@extend %svg-common;
	background-position: 77.70700636942675% 0;
	width: 35px;
	height: 28px;
}

.svg--twitter:hover,
.svg--twitter\:hover {
	@extend %svg-common;
	background-position: 100% 0;
	width: 35px;
	height: 28px;
}

