<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8"/>
	    <title>{{ title }}</title>
		<!-- build:css /styles/styles.min.css -->
		<link rel="stylesheet" href="/bower_components/normalize.css/normalize.css"/>
	    <link rel="stylesheet" href="/styles/styles.css">
		<!-- endbuild -->
	</head>
	<body>
		{% include 'header.twig' %}

		<section>
			{% block page %}
			{% endblock %}
	    </section>

		{% include 'footer.twig' %}

		<!-- build:js /scripts/main.min.js -->
		<script src="scripts/main.js"></script>
		<!-- endbuild -->
	</body>
</html>
