@font-face {
  font-family: $font-family-encode;
  font-weight: $font-weight-light;
  src: url(../fonts/encode_sans_normal_300.ttf);
}

@font-face {
  font-family: $font-family-encode;
  font-weight: $font-weight-regular;
  src: url(../fonts/encode_sans_normal_400.ttf);
}

@font-face {
  font-family: $font-family-encode;
  font-weight: $font-weight-medium;
  src: url(../encode_sans_normal_500.ttf);
}
