html {
  box-sizing: border-box;
}

* {
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

body {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;

  opacity: 0;
  box-shadow: inset 0 0 0 5px $color-red;

  color: $color-black;
  font-family: $font-family-encode, sans-serif;
  font-weight: $font-weight-regular;
}

header {
  position: absolute;
  top: 25px;
  right: 25px;

  p {
    margin: 0;
  }

  a {
    text-decoration: none;
    color: $color-red;
    transition: $transition-duration;

    &:hover {
      color: $color-black;
    }
  }
}

article {
  text-align: center;
}

p {
  position: relative;
  margin: .5em 0;
}

.svg--github-logo {
  position: relative;
  top: 35px;
  height: 0;
  margin: 0 auto;

  transition: $transition-duration;
}
