.svg {
  // Logo
  &--logo {
    min-width: 250px;
    width: 25%;

    fill: $color-red;
  }

  // Github logo
  &--github-logo {
    width: 33px;
    fill: $color-black;

    &:hover {
      fill: $color-red;
    }
  }
}
