// Font
$font-family-encode: 'Encode Sans Normal';
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;

// Color
$color-black: #000;
$color-red: #ff0040;

// Transition
$transition-duration: .15s;
